<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Details</title>
</head>
<body>
    <h1>Details</h1>
        <div id="formContainer">
            <form action="POST">   
                <div id="flex1"> 
                <label for="president">President</label>       
                <br>
                    <input type="text" id="president">
                    <br>
                <label for="Conducting">Conducting</label>
                <br>
                    <input type="text" id="conducting">
                    <br>
                <label for="openingHymn">Opening Hymn Name</label>
                <br>
                    <input type="text" id="openingHymn">
                    <br>
                <label for="openingHymnNumber">Opening Hymn Number</label>
                <br>
                    <input type="text" id="openingHymnNumber">
                    <br>
                <label for="Invocation">Invocation</label>
                <br>
                    <input type="text" id="Invocation">
                    <br>
                <label for="sacramentHymn">Sacrament Hymn Name</label>
                <br>
                    <input type="text" id="sacramentHymn">
                    <br>

                <label for="president">President</label>
     </div>
            <div id="flex2">
                <label for="sacramentHymnNumber">Sacrament Hymn Number</label>
                <br>
                    <input type="text" id="sacramentHymnNumber">
                    <br>
                <label for="closingHymn">Closing Hymn</label>
                <br>
                    <input type="text" id="closingHymn">
                    <br>
                <label for="closingHymnNumber">Closing Hymn Number</label>
                <br>
                    <input type="text" id="closingHymnNumber">
                    <br>
                <label for="benediction">Benediction</label>
                <br>
                    <input type="text" id="benediction">
                    <br>
                <label for="dismissalSong">Dismissal Song</label>
                <br>
                    <input type="text" id="dismissalSong">
                <br>
            </div>
                <button type="submit">
                    Create
                </button>
            </form>
        </div>
        <div id="form">
            <form action="POST">
                <label for="name">Name</label>
                <br>
                <input type="text" id="name">
                <br>
                <label for="type">Type</label>
                <br>
                <input type="text" id="type">
                <br>
                <button type="submit">Create</button>
            </form>
        </div>
</body>
</html>